<%= form_for([:admin, @book]) do |form| %>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :bookcover %><br>
    <%= form.file_field :bookcover %>
  </div>

  <div class="field">
    <%= form.label :author %><br>
    <%= form.collection_select(:author_id, @authors, :id, :name,  {prompt: "Select Author"}) %>
  </div>
  
  <div class="field">
    <%= form.label :price %><br>
    $<%= form.number_field :price, :step => 0.01 %>
  </div>

  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :file_content %><br>
    <%= form.file_field :file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
