<h1>Admin::Books#show</h1>
<p>Find me in app/views/admin/books/show.html.erb</p>

<h1>Book Details</h1>
<p>
  <strong>Title</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author</strong>
  <%= @book.author.name %>
</p>

<p>
  <strong>Content</strong>
  <%= @book.content %>
</p>

<p>
  <strong>Price</strong>
  $&nbsp;<%= @book.price %>
</p>

<% if @book.bookcover.attached? %>
  <p>
    <strong>Image</strong>
    <%= image_tag @book.bookcover %>
  </p>
<% end %>




