<h1>Admin::Books#show</h1>
<p>Find me in app/views/admin/books/show.html.erb</p>

<h1>Book Details</h1>
<!-- <p>
  <strong>Title</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author</strong>
  <%#= @book.author.name %>
</p>

<p>
  <strong>Content</strong>
  <%= @book.content %>
</p>

<p>
  <strong>Price</strong>
  $<%= @book.price %>
</p>

<%# if @book.bookcover.attached? %>
  <p>
    <strong>Image</strong>
    <%#= image_tag @book.bookcover %>
  </p>
<%# end %> -->

<!-- <table>
  <tr>
    <td>
      <%# if# @book.bookcover.attached? %>
        <%#= image_tag @book.bookcover, class: "img_size" %>
      <%# else %>
        <%#= image_tag() %>
      <%# end %>
    </td>
    <td>
      <p><strong>Title: </strong><%= @book.title %></p>
      <p><strong>Author: </strong><%#= @book.author.name %></p>
      <p><strong>Price: </strong>$<%= @book.price %></p>
      <a class="c-button c-button--focal" href="#">Buy this</a>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td class="u-margin-horizontal-auto">
      <div class="u-float-left u-margin-horizontal-auto">
        <%# if @book.bookcover.attached? %>
          <%#= image_tag @book.bookcover, class: "img_size u-margin-horizontal-auto" %>
        <%# else %>
          <%#= image_tag() %>
        <%# end %>
      </div>
      <div class="u-float-left u-margin-left-large info">
        <p><strong>Title: </strong><%= @book.title %></p>
        <p><strong>Author: </strong><%#= @book.author.name %></p>
        <p><strong>Price: </strong>$<%= @book.price %></p>
        <a class="c-button c-button--focal" href="#">Buy this</a>
      </div>
    </td>
  </tr>
</table>
 -->
<div class="c-section u-margin-horizontal-auto details">
  <div class="u-float-left u-margin-left-large info">
    <% if @book.bookcover.attached? %>
      <%= image_tag @book.bookcover, class: "img_size u-margin-horizontal-auto" %>
    <% else %>
      <%= image_tag("http://lgimages.s3.amazonaws.com/gc-md.gif") %>
    <% end %>
  </div>
  <div class="u-float-left u-margin-left-large info">
    <p><strong class="u-margin-right-small">Title: </strong><%= @book.title %></p>
    <p><strong class="u-margin-right-small">Author: </strong><%= @book.author.name %></p>
    <p><strong class="u-margin-right-small">Price: </strong>$<%= @book.price %></p>
    <a class="c-button c-button--focal" href="#">Buy this</a>
  </div>
</div>

