<div class="c-section u-margin-horizontal-auto details">
  <div class="u-float-left u-margin-left-large info">
    <% if @book.bookcover.attached? %>
      <%= image_tag @book.cover, class: "u-margin-horizontal-auto" %>
    <% else %>
      <%= image_tag("http://lgimages.s3.amazonaws.com/gc-md.gif") %>
    <% end %>
  </div>
  <div class="u-float-left u-margin-left-large info">
    <p><strong class="u-margin-right-small">Title: </strong><%= @book.title %></p>
    <p><strong class="u-margin-right-small">Author: </strong><%= @book.author.name %></p>
    <p><strong class="u-margin-right-small">Price: </strong>$<%= @book.price %></p>
    <% if @book.file.attached? %>
    <p><strong class="u-margin-right-small">BookContent: <%= link_to 'Download', @book.file, download: '' %></strong></p>
    <% end %>
    <p>
      <% if current_user %>          
        <%= link_to 'Buy this', new_book_sale_path(@book), class: "c-button c-button--focal" %>
      <% else %>
        <%= link_to 'Buy this', new_user_session_path, class: "c-button c-button--focal" %>        
      <% end %>
    </p>
  </div>
</div>
